-- Drop and recreate watermark
IF OBJECT_ID('control.pipeline_watermark') IS NOT NULL
    DROP TABLE control.pipeline_watermark;

CREATE TABLE control.pipeline_watermark (
    table_name      NVARCHAR(100) PRIMARY KEY,
    last_load_date  DATETIME,
    load_type       NVARCHAR(20)
);

-- Drop and recreate log
IF OBJECT_ID('control.pipeline_log') IS NOT NULL
    DROP TABLE control.pipeline_log;

CREATE TABLE control.pipeline_log (
    log_id          INT IDENTITY(1,1) PRIMARY KEY,
    pipeline_name   NVARCHAR(100),
    start_time      DATETIME,
    end_time        DATETIME,
    rows_processed  INT,
    status          NVARCHAR(20),
    error_message   NVARCHAR(MAX)
);
GO
